# Compiled JavaScript files
lib/**/*.js
lib/**/*.js.map

# TypeScript v1 declaration files
typings/

# Node.js dependency directory
node_modules/
scene-creators-83d41-firebase-adminsdk-9tkdh-31805bc3b5.json