@charset "UTF-8";

@font-face {
  font-family: "growl";
  src:url("fonts/growl.eot");
  src:url("fonts/growl.eot?#iefix") format("embedded-opentype"),
    url("fonts/growl.woff") format("woff"),
    url("fonts/growl.ttf") format("truetype"),
    url("fonts/growl.svg#growl") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "growl" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "growl" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-a:before {
  content: "A";
}
.icon-b:before {
  content: "B";
}
.icon-c:before {
  content: "C";
}
.icon-d:before {
  content: "D";
}
.icon-e:before {
  content: "E";
}
.icon-f:before {
  content: "F";
}
.icon-g:before {
  content: "G";
}
.icon-h:before {
  content: "H";
}
.icon-i:before {
  content: "I";
}
.icon-j:before {
  content: "J";
}
.icon-k:before {
  content: "K";
}
.icon-l:before {
  content: "L";
}
.icon-m:before {
  content: "M";
}
.icon-n:before {
  content: "N";
}
.icon-o:before {
  content: "O";
}
.icon-p:before {
  content: "P";
}
.icon-q:before {
  content: "Q";
}
.icon-r:before {
  content: "R";
}
.icon-s:before {
  content: "S";
}
.icon-t:before {
  content: "T";
}
.icon-u:before {
  content: "U";
}
.icon-v:before {
  content: "V";
}
.icon-w:before {
  content: "W";
}
.icon-x:before {
  content: "X";
}
.icon-y:before {
  content: "Y";
}
.icon-z:before {
  content: "Z";
}
.icon-0:before {
  content: "0";
}
.icon-1:before {
  content: "1";
}
.icon-2:before {
  content: "2";
}
.icon-3:before {
  content: "3";
}
.icon-4:before {
  content: "4";
}
.icon-5:before {
  content: "5";
}
.icon-6:before {
  content: "6";
}
.icon-7:before {
  content: "7";
}
.icon-8:before {
  content: "8";
}
.icon-9:before {
  content: "9";
}
.icon-a-1:before {
  content: "a";
}
.icon-b-1:before {
  content: "b";
}
.icon-c-1:before {
  content: "c";
}
.icon-d-1:before {
  content: "d";
}
.icon-e-1:before {
  content: "e";
}
.icon-f-1:before {
  content: "f";
}
.icon-g-1:before {
  content: "g";
}
.icon-h-1:before {
  content: "h";
}
.icon-i-1:before {
  content: "i";
}
.icon-j-1:before {
  content: "j";
}
.icon-k-1:before {
  content: "k";
}
.icon-l-1:before {
  content: "l";
}
.icon-m-1:before {
  content: "m";
}
.icon-n-1:before {
  content: "n";
}
.icon-o-1:before {
  content: "o";
}
.icon-p-1:before {
  content: "p";
}
.icon-q-1:before {
  content: "q";
}
.icon-r-1:before {
  content: "r";
}
.icon-s-1:before {
  content: "s";
}
.icon-t-1:before {
  content: "t";
}
.icon-u-1:before {
  content: "u";
}
.icon-v-1:before {
  content: "v";
}
.icon-w-1:before {
  content: "w";
}
.icon-x-1:before {
  content: "x";
}
.icon-y-1:before {
  content: "y";
}
.icon-z-1:before {
  content: "z";
}
.icon-:before {
  content: "@";
}
.icon-apostrophe:before {
  content: "'";
}
.icon-asterix:before {
  content: "*";
}
.icon-back-slash:before {
  content: "\\";
}
.icon-close-bracket:before {
  content: ")";
}
.icon-colon:before {
  content: ":";
}
.icon-comma:before {
  content: ",";
}
.icon-dollar:before {
  content: "$";
}
.icon-double-arrow:before {
  content: "{";
}
.icon-double-arrow2:before {
  content: "}";
}
.icon-equals:before {
  content: "=";
}
.icon-euro:before {
  content: "\20ac";
}
.icon-exclamation:before {
  content: "!";
}
.icon-forward-slash:before {
  content: "/";
}
.icon-greater-than:before {
  content: ">";
}
.icon-hash:before {
  content: "#";
}
.icon-higher-quote:before {
  content: "\"";
}
.icon-less-than:before {
  content: "<";
}
.icon-lower-quote:before {
  content: "\201e";
}
.icon-minus:before {
  content: "-";
}
.icon-open-bracket:before {
  content: "(";
}
.icon-percent:before {
  content: "%";
}
.icon-period:before {
  content: ".";
}
.icon-plus:before {
  content: "+";
}
.icon-pound:before {
  content: "\a3";
}
.icon-q-mark:before {
  content: "?";
}
.icon-semi-colon:before {
  content: ";";
}
.icon-squiggle-dash:before {
  content: "~";
}
